<!DOCTYPE html>
<html>
  <head>
    <title>GuildBoard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('gb_logo.png') %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap" rel="stylesheet"> 
    <script src="https://kit.fontawesome.com/7bc67f67e4.js" crossorigin="anonymous"></script>
    <script>
      window.splashBackground = '<%= image_url('the_valley.png') %>'
      window.authBackground = '<%= image_url('auth_background.png') %>'
      window.logoUrl = '<%= image_url('logo.png') %>'
      window.gbLogoUrl = '<%= image_url('gb_logo.png') %>'
      window.bobUrl = '<%= image_url('bob.gif') %>'
      window.postcardGif = '<%= image_url('postcard-demo.gif') %>'
      window.jumpQuestGif = '<%= image_url('jumpquest-complete.gif') %>'
      window.redditAMAViewerGif = '<%= image_url('reddit-ama-viewer-demo.gif') %>'
    </script>

    <meta property="og:title" content="Guild Board" />
    <meta property='og:image' content="<%= image_url('guildboard-splash.png') %>"/>
    <meta property="og:description"
      content="A fullstack clone of the popular voice, video and text communication service known as Discord."
    />
    <meta property="og:url"
      content="http://guildboard.herokuapp.com/"
    />

  </head>

  <body>
    <%= yield %>
  </body>
</html>
